#display {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 70vw;
    height: 300px;


}
#numDisplay {
    width: 100px;
    height: 150px;
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
#controls {
    width: 30vw;
    margin: 50px auto;
    text-align: center;
}